<div class="row mt-1">
    <div class="col-12 col-md-6" *ngIf="recipe">
        <h4 class="text-center mt-4 mb-3">{{recipe.name}}</h4>
        <app-recipe-ingredient
            class="list-group-item" 
            *ngFor="let ingredient of recipe.ingredients"
            [ingredient]="ingredient"
            (editIngredient)="editIngredient(ingredient)"
            (delete)="deleteIngredient(ingredient)">
        </app-recipe-ingredient>
        <p class="mt-4">Dodaj składnik przepisu:</p>
        <app-recipe-ingredient-editor class="list-group-item" (saveIngredient)="saveIngredient($event)">
        </app-recipe-ingredient-editor>
    </div>
    <div class="col" *ngIf="!recipe">
         <p>Trwa ładowanie...</p>
    </div>
    <div class="col-12 col-md-6" *ngIf="recipe">
        <div *ngIf="mode==='edit'">
            <p class="mt-4">Edytujesz składnik:</p>
            <app-recipe-ingredient-editor class="list-group-item" [editedIngredient]="selected" (saveIngredient)="saveIngredient($event)">
            </app-recipe-ingredient-editor>
        </div>
    </div>
</div>
