<div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputIngredient">Ingredient</label>
            <input 
            type="text" 
            class="form-control" 
            id="inputIngredient" 
            [(ngModel)]="ingredient.name">
        </div>
        <div class="form-group col-md-2">
            <label for="inputAmount">Amount</label>
            <input 
            type="text" 
            class="form-control" 
            id="inputAmount" 
            [value]="ingredient.amount"
            [(ngModel)]="ingredient.amount">
        </div>
        <div class="form-group col-md-4">
            <label for="inputUnit">Unit</label>
            <input 
            type="text" 
            class="form-control" 
            id="inputUnit" 
            [value]="ingredient.unit"
            [(ngModel)]="ingredient.unit">
        </div>
    </div>
    <input type="button" value="Dodaj" class="btn btn-outline-success btn-block" (click)="send()">
</div>
